$spacers: ( 6: ($spacer * 5), 7: ($spacer * 7.5), 8: ($spacer * 10), 9: ($spacer * 15), 10: ($spacer * 20));
$sizes: (25w: 25vw, 50w: 50vw, 75w: 75vw, 100w: 100vw, 25h: 25vh, 50h: 50vh, 75h: 75vh, 100h: 100vh);
@each $prop,
$abbrev in (min-width: w-min, max-width: w-max, min-height: h-min, max-height: h-max) {
  @each $size,
  $length in $sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}

@each $overflow in (visible, hidden, scroll, auto, initial, inherit) {
  .of-#{$overflow} {
    overflow: $overflow;
  }
}
