<div class="h-100h">
  <div class="row h-100 of-hidden no-gutters">
    <!-- Window -->
    <div class="col-md-10" (click)="onRendererClick()">
      <div class="position-absolute mode py-1 px-2">
        <div data-toggle="modal" data-target="#resizeModal">
          <button type="button" class="btn btn-outline-primary w-100" data-toggle="tooltip" data-placement="left"
            title="RESIZE">
            <i class="fa fa-th fa-2x"></i>
          </button>
        </div>
        <hr>
        <ne-editor-mode #modesList [modes]="modes" [(currentMode)]="currentMode"></ne-editor-mode>
      </div>
      <div class="position-absolute controls py-1 px-2">
        <!-- <ne-editor-controls></ne-editor-controls> -->
        <div class="text-secondary">
          <p>
            <span class="badge badge-secondary">Ctrl/⌘+Z</span> - Undo</p>
          <p>
            <span class="badge badge-secondary">Ctrl/⌘+Y</span> - Redo</p>
          <div [hidden]="!currentMode || currentMode.name != 'build'">
            <p>
              <span class="badge badge-secondary">Q</span>
              <span class="badge badge-secondary">E</span> - Rotate brick right and left</p>
            <p>
              <span class="badge badge-secondary">W</span>
              <span class="badge badge-secondary">S</span>
              <span class="badge badge-secondary">A</span>
              <span class="badge badge-secondary">D</span> - Move brick pivot up, down, left, and right</p>
          </div>
        </div>
      </div>
      <three-renderer #renderer [displayStats]="false">
        <three-orbit-controls #cameraControls="three-orbit-controls" [rotateSpeed]="1" [zoomSpeed]="1.2"
          [renderer]="renderer">
          <!-- <three-perspective-camera #mainCamera="three-perspective-camera" [fov]=50 [near]=1 [far]=1000 positionX=60 positionY=60 positionZ=60></three-perspective-camera> -->
          <three-orthographic-camera #mainCamera="three-orthographic-camera" [height]="50" [near]="-1000" [far]="1000"
            positionX="60" positionY="60" positionZ="60"></three-orthographic-camera>
          <three-scene #scene="three-scene">
            <!-- <three-axes-helper size=160></three-axes-helper> -->
            <ne-grid #grid="ne-grid" [size]="24"></ne-grid>
            <ne-brick-object-highlight #brickObjectHighlight="ne-brick-object-highlight"></ne-brick-object-highlight>

            <three-ambient-light color="white" intensity="0.4" translateX="0" translateY="0" translateZ="0">
            </three-ambient-light>
            <three-point-light color="white" intensity="1" distance="1000" translateX="48" translateY="96"
              translateZ="96"></three-point-light>
            <three-point-light color="white" intensity="1" distance="1000" translateX="-48" translateY="96"
              translateZ="-96"></three-point-light>
          </three-scene>
        </three-orbit-controls>
        <ne-grid-selector #gridSelector="ne-grid-selector" [camera]="mainCamera" [grid]="grid" [renderer]="renderer"
          [cameraControls]="cameraControls" (highlight)="onCellHighlighted($event)" (select)="onCellSelected($event)">
        </ne-grid-selector>
      </three-renderer>
    </div>
    <!-- Menu -->
    <div class="col-md-2 bg-dark gutters-l d-flex flex-column h-100">
      <div class="flex-shrink-0 h-50 ofy-auto ofx-hidden gutters-r slim-scrollbar" *ngIf="brickTypes">
        <ne-brick-types-list #brickTypesList [(currentBrickType)]="currentBrickType" [brickTypes]="brickTypes"
          [brickColor]="currentBrickColor"></ne-brick-types-list>
      </div>
      <div class="flex-shrink-1 my-2 py-1 px-1 ofy-auto ofx-hidden gutters-r slim-scrollbar" *ngIf="brickColors">
        <ne-brick-colors-list #brickColorsList [brickColors]="brickColors" [(currentBrickColor)]="currentBrickColor"
          (brickColorChange)="onBrickColorChanged($event)" (brickColorDelete)="onBrickColorDeleted($event)">
        </ne-brick-colors-list>
      </div>
      <div class="gutters-r d-flex flex-column justify-content-end flex-grow-1 flex-shrink-0 pb-3">
        <button type="button" class="btn btn-primary btn-block" (click)="onSaveButtonClicked()">Save design</button>
        <button type="button" class="btn btn-primary btn-block" [ngxFilePicker]="'readMode'"
          (filePick)="onLoadFilePicked($event)" accept="text/json">Load design</button>
        <button type="button" [disabled]="brickObjects.length < 1" class="btn btn-primary btn-block" data-toggle="modal"
          data-target="#generateInstructionsModal">Generate
          instructions</button>
        <button type="button" class="btn btn-danger btn-block" (click)="onResetButtonClicked()">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- Resize modal -->
<div class="modal fade" id="resizeModal" tabindex="-1" role="dialog" aria-labelledby="resizeModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resizeModalTitle">Resize grid</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-8 mx-auto row">
            <label for="size" class="col">Size:</label>
            <input type="number" class="form-control col" id="size" [(ngModel)]="resizeModel.size">
          </div>
          <div class="col-12 mt-3 text-center">
            <small class="text-warning">Size cannot be smaller than already built bricks design.</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
          #resizeDismissButton>Cancel</button>
        <button type="submit" (click)="resizeModel.size >= getDesignSize() && onResize()"
          class="btn btn-primary">Resize</button>
      </div>
    </div>
  </div>
</div>

<!-- Generate instructions modal -->
<div class="modal" id="generateInstructionsModal" tabindex="-1" role="dialog" aria-labelledby="resizeModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resizeModalTitle">Generate instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you designing a character or a building?</p>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary btn-block"
              (click)="onInstructionsClicked(true)">Character</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-block"
              (click)="onInstructionsClicked(false)">Building</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
          #generateInstructionsDismissButton>Cancel</button>
      </div>
    </div>
  </div>
</div>

<button type="button" #loadingDesignToggleButton data-target="#loadingDesignModal" data-toggle="modal" hidden></button>

<!-- Loading design modal -->
<div class="modal" id="loadingDesignModal" tabindex="-1" role="dialog" aria-labelledby="loadingDesign"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Loading design...</h4>
        <div class="progress mt-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" #generatingInstructionsToggleButton data-target="#generatingInstructionsModal" data-toggle="modal"
  hidden></button>

<!-- Generating instructions modal -->
<div class="modal" id="generatingInstructionsModal" tabindex="-1" role="dialog" aria-labelledby="generatingInstructions"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Generating instructions...</h4>
        <div class="progress mt-3">
          <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" #modalDisclaimerToggleButton data-target="#mobileDisclaimerModal" data-toggle="modal"
  hidden></button>

<!-- Mobile disclaimer modal -->
<div class="modal" id="mobileDisclaimerModal" tabindex="-1" role="dialog" aria-labelledby="mobileDisclaimer"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Mobile not yet supported</h4>
        <p class="mt-3">The editor does not support mobile browsers yet. For the best experience, please access the web
          app on a
          desktop browser.</p>

        <button type="button" class="btn btn-primary mt-5" data-dismiss="modal">Continue anyway</button>
      </div>
    </div>
  </div>
</div>
